body {
  padding-left: 30%;
}

.musicIndex {
  font-size: 1.3rem;
  padding: 5px;
}

.albumImg {
  width:70px;
  height: 70px;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.musicChartEach{
  display: flex;
  align-items: center;
}

.lyricsButton {
  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
}

.musicInfo {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

.musicName {
  font-size: 1.1rem;
  padding-bottom: 5%;
  cursor: pointer;
}

.musicName:hover {
  text-decoration: underline;
}

.musicSinger {
 font-size: 0.9rem;
 color: gray;
 cursor: pointer;
}

.musicSinger:hover {
  text-decoration: underline;
 }